.idea
__pycache__

docs/gather_md.py
docs/concat.md

simple_llama/__pycache__

# Skipping Misc/Test files and dataset folders (too large to push)
simple_llama/dataset/short_1800_tokens
simple_llama/dataset/medium_200_tokens
simple_llama/dataset/Dockerfile
simple_llama/dataset/temp.py

# Possiblly adding in KD later on from models like llama3 3/7B? Maybe...
simple_llama/distillation

# Adding in benchmarking using lm_eval
simple_llama/eluther_harness_eval

# Release later on
simple_llama/final_models

# Skipping Misc/Testing files
simple_llama/finetune/ft_dataset
simple_llama/finetune/lora_peft/*.txt
simple_llama/finetune/full_sft/*.txt
simple_llama/finetune/ft_test1.py

# Excluding test file
simple_llama/inference/test_inf.py

# Will add RL Folder later on when nearing completion
simple_llama/reinforcement_learning

# Personal Folder
simple_llama/rollback

# Include everything except the Test Model's weights
simple_llama/scaling_law_tests/*LLaMA

# Main pretraining folder
simple_llama/pretraining/__pycache__
simple_llama/pretraining/checkpoints
simple_llama/pretraining/ckpt_verification
simple_llama/pretraining/mha_vs_mla
simple_llama/pretraining/tests

# Ignore all test files, which is mostly training progresses saved
simple_llama/pretraining/*.txt

# Ignore notes and test files
simple_llama/notes.txt
simple_llama/llama_test*
